body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

div {}

h1 {
  margin: 50px auto 0 auto;
  color: white;
  font-family: 'Indie Flower', cursive;
  font-size: 5rem;
}

h2 {
  color: #30475e;
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  line-height: normal;
}

h3 {
  color: #30475e;
  font-family: 'Montserrat', sans-serif;
}
hr{
  border: 0;
  border-top: 7px dotted #30475e;
  width: 5%;
}
a{
  color: #30475e;
  text-decoration: none;
}
p{
  line-height: 2;
}
a:hover{
  color: #c1a57b;
}

.top-container {
  background-color: #222831;
  padding-top: 100px;
}
.subtittle {
  color: white;
  font-weight: normal;
  line-height: 2;
}
.planet_blue {
  position: absolute;
  right: 25%;
  top: 50px;
  height: 70px;
  width: 70px;
}
.planet_red {
  position: absolute;
  left: 20%;
  height: 100px;
  width: 100px;
  z-index: 2;
}
.planet_main {
  position: relative;
  z-index: 1;
}
.middle-container {
  background-color: #c1a57b;
  margin-top: -150px;
  padding-top: 150px;
  padding-bottom: 100px;
}
.profile  {
  width: 40%;
  margin: 0 auto 100px;
}

.skills{
  margin-top: 100px;
}
.ico-skill-left{
  width: 25%;
  float: left;
  margin-right: 30px;
}
.ico-skill-right{
  width: 25%;
  float: right;
  margin-left: 30px;
}
.skill-row{
  width: 50%;
  margin: 100px auto;
  text-align: left;
}
.courses {
  width: 40%;
  margin: 100px auto 0px;
}
.contact-me {
  width: 40%;
  margin: auto;
}
.bottom-container {
  padding: 33.200px 0;
  background-color: #ececec;
}
.ico-social{
  padding: 10px;
  color: white;
  width: 40px;
  height: 40px;
}
.psmall{
  padding-top: 10px;
  font-size: .7rem;
}
